Source: ansi-colors
Section: misc
Priority: optional
Maintainer: jfv.opensource <jfv.opensource@gmail.com>
Uploaders: Christian Bayle <bayle@debian.org>
Build-Depends: debhelper-compat (= 13), help2man
Standards-Version: 4.5.1
Homepage: https://github.com/jfv-opensource/ansi-colors
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/ansi-colors.git
#Vcs-Browser: https://salsa.debian.org/debian/ansi-colors

Package: ansi-colors
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: ansi colors tools for bash scripts
 Set of tools to make usage of ansi colors in script 
 more user friendly
